/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box;
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
    /* Fix layout/scrolling issues with tabs */
    height: 100%;
    width: 100%;
    position: relative;
}
.m .select-wrapper + label {
    /* The positioning for dropdown labels is messed up */
    transform: none !important;
}

label > i[title] {
    /* Display the help cursor for the tooltip icons and fix their positioning */
    cursor: help;
    margin-left: 0.25em;
}

.dropdown-content {
    /* Don't wrap text in dropdowns */
    white-space: nowrap;
}

/* Add your styles here */

.App-header {
    background-color: steelblue;
    height: 70px;
    padding: 20px;
    color: white;
}

.AppC {
    text-align: center;
}

.AppC-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.AppC-header {
    background-color: steelblue;
    height: 70px;
    padding: 20px;
    color: white;
}

.AppC-intro {
    font-size: large;
}

/* new css for movie component */
* {
    box-sizing: border-box;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.AppC-header h2 {
    margin: 0;
}

.add-movies {
    text-align: center;
}

.add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
}

.movie {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
    float: left;
    /* width: 30%; */
    /* margin-right: 3.33333%; */
    /* padding: 20px; */
    /* background: red; */
    box-sizing: border-box;
}
.movie-form {
    width: 250px;
    margin: 0 auto;
}

.movie-form input,
.movie-form textarea {
    width: 250px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

.movie-form button {
    font-size: 16px;
    padding: 4px;
    margin: 10px 10px 30px 10px;
}
